.container {
    width: 80%;
    margin: 15px auto;
}
body {
  color: blue;
  background-color: black;
}
.doughnut-container {
  width: 40%;
}
.container {
  display: flex-wrap;
}

.task {
  width: 60%;
}

.btn {
  margin: .1em;
}


