<h1>TASKS</h1>
<!-- <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas> -->
<div class="container">
    <canvas id="line"></canvas>
    <h2>WEEKLY PRIZE</h2>
    <canvas id="myChart"></canvas>
</div>
<!--
date and time route that angular can call with $http /$http promise, load it into scope variables date filters built into angular //chart can handle date and number dataset input //moment module will help display date.
 -->
