<div class="home">
<h1>TASKMINDER</h1>
<hr>
<h2>Use Taskminder to visualize your achievements over time.</h2>
<hr>
<h2>Taskminder uses graphs to compare your daily achievement against a baseline goal.  The Taskboard displays tasks available to all users.  When a user marks a task as completed that task is removed from the taskboard and linked to the user.  Then the user's graph increments to reflect the user's completion of the task</h2>
<img src="img/reflection.png" height="100%" width="100%">
</div>
