<div class="container task">
<div class="row">
  <h1>TASKBOARD</h1>
  <hr>
  <a href="/tasks/new" class="btn btn-success col-xs-12"><h3>ADD A TASK TO THE LIST</h3></a>
  <div class="form-group">
      <label for="search" class="col-xs-12"><h3>SEARCH<h3></label>
      <input type="text" class="form-control" id="search" ng-model="search">
  </div>
  <div class="well col-xs-12 col-sm-6 col-md-4 col-lg-3" id="task-card" ng-repeat="task in tasks | filter:{title:search} track by task._id" ng-hide="{{task.completed}}">
      <a ng-href="/tasks/{{task._id}}"><h3>{{task.title}}</h3></a>
      <a ng-click="completedTask(task._id, $index)" class="btn btn-success glyphicon glyphicon-ok pull-left"></a>
      <a ng-click="deleteTask(task._id, $index)" class="btn btn-danger glyphicon glyphicon-remove pull-right"></a>
      <br>
  </div>
  </div>
</div>
